/* ////////////////////////////// PrimeNG Style Overrides ////////////////////////////// */

@import "variables.scss";

/* //////////////////// Button //////////////////// */

.p-button {
  background: $colorMain;
  border-color: $colorMain;
}

/* //////////////////// Input //////////////////// */

.p-inputtext {
  width: 100%;
  padding: 0.625rem 0.75rem;
  border: 1px solid $colorOutline;
  border-radius: 0;
  font-family: Heebo, sans-serif;
  font-size: 1rem;
  color: $colorText;
}

.p-inputtext:enabled:hover {
  border-color: $colorOutline;
}
.p-inputtext:enabled:focus {
  box-shadow: 0 0 0 0.2rem $colorMain_shadow;
  border-color: $colorMain;
}

.p-inputtext.ng-dirty.ng-invalid {
  border-color: $colorDanger;
}

.p-inputtext::placeholder {
  font-size: 1rem;
}

.p-error {
  display: block;
  margin-top: .5rem;
  color: $colorDanger;
}

/* ////////// Icon right ////////// */

.p-input-icon-right > .p-inputtext {
  padding-right: 2.5rem;
}
.p-input-icon-right > i:last-of-type {
  right: 0.75rem;
}

/* //////////////////// Autocomplete //////////////////// */

.p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item {
  font-family: Heebo, sans-serif;
  color: $colorText;

  &:hover {
    color: $colorText;
    background: $colorBkg;
  }
}

/* //////////////////// Textarea //////////////////// */

textarea.p-inputtext {
  min-height: 4rem;
  resize: vertical;
}

/* //////////////////// Password //////////////////// */

.p-password {
  width: 100%;
}

/* //////////////////// Select //////////////////// */

.p-dropdown {
  width: 100%;
  border: 1px solid $colorOutline;
  border-radius: 0;
  font-family: Heebo, sans-serif;
  color: $colorText;
}
.p-dropdown-trigger-icon {
  font-size: .875rem;
}

.p-dropdown:not(.p-disabled):hover {
  border-color: $colorOutline;
}
.p-dropdown:not(.p-disabled).p-focus {
  box-shadow: 0 0 0 0.2rem $colorMain_shadow;
  border-color: $colorMain;
}

.p-dropdown-panel {
  border-radius: 0;
  font-family: Heebo, sans-serif;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  color: $colorText;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: $colorTextInverse;
  background: $colorMain;
}

/* //////////////////// Checkbox //////////////////// */

.p-checkbox {
  .p-checkbox-box {
  border: 1px solid $colorOutline;
  border-radius: 4px;
  }
  .p-checkbox-box.p-highlight {
    border-color: $colorMain;
    background: $colorMain;
  }
  &:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
    box-shadow: 0 0 0 3px $colorMain_shadow;
    border-color: $colorMain;
  }
  &:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    border-color: $colorMain;
  }
  &:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    border-color: $colorMain;
    background: $colorMain;
  }
}

/* //////////////////// Radio //////////////////// */
.p-radiobutton {
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
}
.p-radiobutton .p-radiobutton-box {
  border: 2px solid $colorOutline;
  width: 1rem;
  height: 1rem;
}

.p-radiobutton .p-radiobutton-box.p-highlight {
  border-color: $colorMain;
  background: $colorMain;
}

.p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus {
  box-shadow: 0 0 0 3px $colorMain_shadow;
  border-color: $colorMain;
}

.p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
  width: 0.5rem;
  height: 0.5rem;
}

/* //////////////////// Accordion //////////////////// */

.p-accordion p-accordiontab .p-accordion-tab {
  margin-bottom: 1.5rem;
  border-radius: 0;
  font-family: Heebo, sans-serif;
  background-color: white;
  box-shadow: 0 3px 16px rgba(0, 0, 0, .1);
}

.p-accordion .p-accordion-header .p-accordion-header-link,
.p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
  padding: .75rem;
  border: none;
  border-radius: 0;
  background: transparent;
  color: $colorText;
}
.p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus {
  box-shadow: 0 0 0 3px $colorMain_shadow;
}
.p-accordion p-accordiontab .p-accordion-header .p-accordion-header-link,
.p-accordion p-accordiontab:first-child .p-accordion-header .p-accordion-header-link,
.p-accordion p-accordiontab:last-child .p-accordion-header:not(.p-highlight) .p-accordion-header-link {
  border-radius: 0;
}

.p-accordion .p-accordion-header:not(.p-disabled).p-highlight:hover .p-accordion-header-link,
.p-accordion .p-accordion-header:not(.p-highlight):not(.p-disabled):hover .p-accordion-header-link {
  border: none;
  background: transparent;
  color: $colorText;
}

.p-accordion .p-accordion-header .p-accordion-header-link .p-accordion-toggle-icon {
  width: 1rem;
  font-size: .75rem;
}
.p-accordion-header-text {
  font-size: 1.125rem;
  font-weight: bold;
}

.p-accordion p-accordiontab .p-accordion-content {
  border: none;
  background: transparent;
}

/* //////////////////// Button //////////////////// */

.p-button:enabled:hover {
  background-color: transparent;
  border: 1px solid $colorOutline;
  border-left: none;
  color: $colorMain;
}

.p-button-icon {
  font-size: 0.875rem;
  font-weight: bold;
}

/* //////////////////// Calendar //////////////////// */

.p-calendar .p-datepicker {
  border-radius: 0;
  font-family: Heebo, sans-serif;
}

.p-datepicker table td.p-datepicker-today > span {
  background: transparent;
  border-color: $colorMain;
}

.p-datepicker table td > span.p-highlight {
  color: white;
  background: $colorMain;
  box-shadow: 0 3px 16px rgba(0, 0, 0, .1);
}

.p-datepicker-trigger {
  background-color: transparent;
  border-top: 1px solid $colorOutline;
  border-right: 1px solid $colorOutline;
  border-bottom: 1px solid $colorOutline;
  border-left: none;
  border-radius: 0;
  color: $colorMain;
}

.p-calendar .p-inputtext {
  border-right: none;
}

p-calendar.ng-invalid.ng-touched .p-calendar {
  .p-inputtext, .p-datepicker-trigger {
    border-color: $colorDanger;
  }
}

/* //////////////////// InputSwitch //////////////////// */

.switchToggle {
  display: flex;
  align-items: center;
  padding: 0;
}

.switchToggle p {
  margin: 0;
  color: $colorMain;
}
.p-inputswitch {
  display: block !important;
  margin-right: 0.75rem;
}
.p-inputswitch .p-inputswitch-slider, .p-inputswitch:not(.p-disabled):hover .p-inputswitch-slider {
  background-color: $colorDanger_light;
}
.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider, .p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover .p-inputswitch-slider {
  background-color: $colorSuccess;
}

@media screen and (max-width: $mediaqueryM) {
  .switchToggle {
    margin: 0 0 1rem 0;
    padding: .5rem 0;
  }
}

/* //////////////////// ToolTip ////////////////// */

.switchTooltip {
  margin-top: 0.5rem;
}
.p-tooltip.p-tooltip-right, .p-tooltip.p-tooltip-left {
  margin-top: -0.25rem;
  margin-left: 0.5rem;
}
.p-tooltip.p-tooltip-left {
  margin-top: -0375rem;
  margin-left: 0.5rem;
}

.p-tooltip .p-tooltip-text {
  font-family: Heebo, sans-serif;
  font-size: 0.875rem;
  background-color: $colorText;
  line-height: 1.375rem;
}

.p-tooltip.p-tooltip-right .p-tooltip-arrow {
  border-right-color: $colorText;
}

/* //////////////////// Modal //////////////////// */

.p-component-overlay.p-dialog-mask {
  align-items: flex-start;
  overflow-y: scroll;
}

.p-dialog {
  max-height: unset !important;
  margin: 2rem 1rem;
  border-radius: 0;
  font-family: Heebo, sans-serif;
  background: white;
}

.p-dialog .p-dialog-header {
  padding: .75rem 1rem 1rem 1rem;
  background: transparent;
}
.p-dialog .p-dialog-header .p-dialog-title {
  font-size: 1.125rem;
  color: $colorText;
}
.p-dialog .p-dialog-header .p-dialog-header-icon {
  position: relative;
  top: -.5rem;
  right: -.5rem;
  color: $colorText;
}

.p-dialog .p-dialog-content {
  padding: 0 1rem 1rem 1rem;
  background: transparent;
  overflow: inherit;
}

.p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover {
  color: $colorText;
  background: $colorBkg;
}
.p-dialog .p-dialog-header .p-dialog-header-icon:focus {
  box-shadow: 0 0 0 0.2rem $colorMain_shadow;
}

/* //////////////////// Table //////////////////// */

.p-datatable table {
  font-family: Heebo, sans-serif;
}

.p-datatable-tbody {
  border-radius: 0;
  box-shadow: 0 0 0 1px $colorOutline;
}

.p-datatable .p-datatable-tbody > tr {
  background: transparent;
  color: $colorText;
  outline-color: $colorMain;
}

.p-datatable .p-datatable-thead > tr > th {
  padding: .75rem;
  font-size: .875rem;
  border: none;
  border-radius: 0;
  color: $colorText;
  background: transparent;
}

.p-datatable .p-datatable-tbody > tr > td {
  padding: .75rem;
  font-size: .875rem;
  color: $colorText;
  background: transparent;
}
.p-datatable .p-datatable-tbody > tr:last-of-type > td {
  border-color: transparent;
}
.p-datatable .p-datatable-tbody > tr:nth-of-type(2n) {
  background: $colorBkgLight;
}

.p-datatable .p-datatable-tbody > tr:first-of-type > td:first-of-type {
  border-top-left-radius: 8px;
}
.p-datatable .p-datatable-tbody > tr:first-of-type > td:last-of-type {
  border-top-right-radius: 8px;
}
.p-datatable .p-datatable-tbody > tr:last-of-type > td:first-of-type {
  border-bottom-left-radius: 8px;
}
.p-datatable .p-datatable-tbody > tr:last-of-type > td:last-of-type {
  border-bottom-right-radius: 8px;
}

.p-datatable .p-sortable-column:not(.p-highlight):hover,
.p-datatable .p-sortable-column.p-highlight:hover,
.p-datatable .p-sortable-column.p-highlight {
  background: transparent;
  color: $colorText;
}

.p-datatable .p-sortable-column .p-sortable-column-icon {
  color: transparent;
}
.p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon,
.p-datatable .p-sortable-column.p-highlight:hover .p-sortable-column-icon {
  color: $colorText;
}

.p-datatable .p-sortable-column:focus {
  box-shadow: inset 0 0 0 0.15rem $colorMain_shadow;
}

@media screen and (max-width: 40em) {
  .p-datatable.p-datatable-responsive .p-datatable-tbody>tr {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  .p-datatable.p-datatable-responsive .p-datatable-tbody>tr>td {
    padding: .5rem .75rem;
  }
  .p-datatable.p-datatable-responsive .p-datatable-tbody>tr>td .p-column-title {
    font-size: .75rem;
  }
}

.p-datatable .p-datatable-loading-overlay {
  background-color: rgb(0 0 0 / 5%);
  border-radius: 0;
}

/* ///////////// File Upload Button ////////////// */

.p-fileupload .p-fileupload-buttonbar {
  background: transparent;
  padding: 0;
  border: none;
}

.p-fileupload-choose:not(.p-disabled):hover {
  background-color: $colorMain;
  border-color: $colorMain;
}

.p-fileupload-choose {
  background-color: transparent;
  border: 1px solid $colorMain;
  border-radius: 0;
  color: $colorMain;
}

.p-fileupload-choose .p-button-label {
  font-family: Heebo, sans-serif;
  font-size: 0.875rem;
  transition: none;
}

.p-fileupload .p-fileupload-content {
  margin: .75rem 0 0 0;
  padding: 0;
  border: none;
  border-radius: 0;
  font-family: Heebo, sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  color: $colorTextLight;
  background-color: transparent;
}

.sideSectionItem p {
  margin: 0;
  font-size: 0.875rem;
  color: $colorTextLight;
  font-family: Heebo, sans-serif;
}

.p-fileupload-row>div {
  padding: 0.5rem !important;
  flex: none !important;
  width: auto !important;
}

.p-fileupload-row>div>button {
  background: none;
  border: none;
  color: $colorText;
  width: 1rem;
}

.p-fileupload-row>div>button:enabled:hover {
  border: none;
}

.p-fileupload-row>div>img {
  width: 100px;
}

/* ///////////// Editor ////////////// */

.p-editor-container .p-editor-toolbar, .p-editor-container .p-editor-content {
  border-radius: 0;
  border-color: $colorOutline;
  color: $colorText;
}

.p-editor-container .p-editor-content.ql-snow, .p-editor-container .p-editor-content .ql-editor {
  min-height: 320px;
}

p-editor.ng-dirty.ng-invalid {
  .p-editor-container .p-editor-toolbar.ql-snow, .p-editor-container .p-editor-content.ql-snow {
    border-color: $colorDanger;
  }
}

/* ///////////// Keywords /////////// */
.p-chips {
  width: 100%;
}

.p-chips-input-token {
  display: inline !important;
}

.p-chips .p-chips-multiple-container:not(.p-disabled):hover {
  border: 1px solid $colorOutline;
}

.p-chips .p-chips-multiple-container:not(.p-disabled).p-focus {
    box-shadow: 0 0 0 0.2rem $colorMain_shadow;
    border-color: $colorMain;
}