
/* ////////////////////////////// SASS Variables ////////////////////////////// */

/*////////// Colors //////////*/

/*///// General /////*/

/*/ Main /*/
$colorMain: #031640;
$colorMain_light: #336699;
$colorMain_dark: #030f29;
$colorMain_shadow: rgba(3, 22, 64, 50%);

/*/ Main alt /*/
$colorMainAlt: #336699;
$colorMainAlt_light: #96cbff;
$colorMainAlt_dark: #031640;
$colorMainAlt_shadow: rgba(51, 102, 153, 50%);

/*/ Success /*/
$colorSuccess: #009567;
$colorSuccess_light: #00b97f;
$colorSuccess_dark: #00744f;
$colorSuccess_shadow: rgba(0, 149, 103, 50%);
$colorSuccess_altBkg: #DBFFC7;
$colorSuccess_altText: #417E20;

/*/ Info /*/
$colorInfo_altBkg: #E8EDFF;
$colorInfo_altText: #33405D;

/*/ Warning /*/
$colorWarning: #FEBD40;
$colorWarning_light: #FFCB67;
$colorWarning_dark: #EAA41E;
$colorWarning_shadow: rgba(254, 189, 64, 50%);
$colorWarning_altBkg: #FFF5E8;
$colorWarning_altText: #895E0B;

/*/ Danger /*/
$colorDanger: #ff074c;
$colorDanger_light: #FF9696;
$colorDanger_dark: #cf003b;
$colorDanger_shadow: rgba(255, 7, 76, 50%);
$colorDanger_altBkg: #FFE8E8;
$colorDanger_altText: #A52929;

/*/ Text /*/
$colorText: #333333;
$colorTextLight: #676767;
$colorTextLight_shadow: rgba(123, 123, 123, 50%);
$colorTextInverse: white;

/*/ Other /*/
$colorOutline: #D9DCE2;
$colorBkg: #eaf2fa;
$colorBkgLight: #F8F8FA;
$colorGrey_shadow: rgba(0,0,0,25%);
$colorDisabled: #c8c8c8;

/*///// Header /////*/

$colorHeaderBkg: #031640;
$colorHeaderText: #eaf2fa;
$colorHeaderTextLight: #7b7b7b;
$colorHeaderHover: #cbe5ff;
$colorHeaderBtn: rgba(255,255,255,10%);
$colorHeaderBtnHover: rgba(255,255,255,5%);
$colorHeaderSearchBkg: #f1f1f1;
$colorHeaderOutline: rgba(255,255,255,25%);

/*////////// Colors Dark mode DM //////////*/

/*/ General /*/

$colorText_dm: white;
$colorTextLight_dm: rgba(255,255,255,75%);
$colorTextInverse_dm: white;
$colorOutline_dm: rgba(255,255,255,25%);
$colorBkg_dm: #16213a;
$colorDanger_dm: #ff5656;

/*/ Header dark /*/

$colorHeaderBkg_dm: #33405d;
$colorHeaderText_dm: white;
$colorHeaderTextLight_dm: rgba(255,255,255,75%);
$colorHeaderHover_dm: rgba(255,255,255,10%);
$colorHeaderSearchBkg_dm: rgba(0,0,0,20%);
$colorHeaderOutline_dm: rgba(255,255,255,25%);

/*////////// Measurements //////////*/

$containerWidthS: 100%;
$containerWidthM: 632px;
$containerWidthL: 1232px;

$containerGutter: 1rem;

/*////////// Media Queries //////////*/
/* Media queries should always be used with max-width. */

$mediaqueryS: 767px;
$mediaqueryM: 991px;
$mediaqueryL: 1199px;
