
/* ////////////////////////////// Login ////////////////////////////// */

@import "variables";

/* ////////// Card Foot ////////// */

.loginFoot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1rem;
}

/* ////////// Environment Label ////////// */

.environmentLabel {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
}

/*** validations ***/

.validation.text-danger {
  font-size: 11px;
  color: #a6061d;
  background: #b40c2312;
  width: 100%;
  border-radius: 2px;
  display: table;
  padding: 3px;
  margin-top: 4px;
}

.validation > i {
  margin-right: 3px;
}

/*** login button ***/
button .mdi-spin {
  color: #000;
}
