
@import "../../../../assets/scss/variables.scss";

/* ////////// Container ////////// */

.footer_public {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  color: $colorTextInverse;
  background-color: transparent;
}

/* ////////// Button ////////// */

.footerBtn {
  display: inline-block;
  margin: 0 1rem 0 0;
  padding: 0;
  border: none;
  border-radius: 0;
  font-family: Heebo, sans-serif;
  font-size: .75rem;
  font-weight: bold;
  color: $colorTextInverse;
  background-color: transparent;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  transition: color 200ms, box-shadow 200ms;
}
.footerBtn:hover {
  color: $colorTextInverse;
}
.footerBtn:focus {
  box-shadow: 0 0 0 2px $colorTextInverse;
  outline: none;
}

/* ////////// Copyright ////////// */

.footerCopyright {
  font-size: .75rem;
}

/* ////////// Responsive ////////// */

@media (max-width: $mediaqueryM) {
  .footer_public {
    bottom: unset;
    top: 100%;
    flex-direction: column;
    align-items: flex-start;
    background-color: $colorMain;
  }

  .footerBtn {
    margin: 0 1rem 1rem 0;
    color: $colorBkg;
  }

  .productBrand, .footerCopyright {
    display: block;
    margin-top: 1rem;
  }
}
